#container{
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.display{
    width: 80%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}

button{
    width: 50px;
    height: 40px;
    
}