

#container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 640px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.display{
    display: flex;
    width: 95.5%;
    height: 100px;
    background-color: white;
    border-radius: 0px;
    margin-bottom: 10px;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
}

button{
    width: 120px;
    height: 135px;
    
}